<div class="yahtzee-dice-container">
  <div class="yahtzee-dice">
    <div class="die die-one" data-die-pos="die-one"></div>
    <div class="die die-two" data-die-pos="die-two"></div>
    <div class="die die-three" data-die-pos="die-three"></div>
    <div class="die die-four" data-die-pos="die-four"></div>
    <div class="die die-five" data-die-pos="die-five"></div>
    <br>
    <%= button_tag 'Roll', type: 'button', name: 'roll-dice' %>
  </div>
</div>
