@import "bootstrap-sprockets";
@import "bootstrap";
@import "games";

table {
  border-collapse: collapse;
  border-spacing: 0px;

  td.no-border {
    border: 0;
  }

  th, td {
    border: 1px solid #000000;
    padding: 1rem;
  }

  th {
    background: $green;
    color: $white;
  }

  td {
    height: 5rem;
  }
}

input:not([readonly]){
  cursor: pointer;
}

label {
  margin: 0;
}

input[readonly] {
  border: none;
}

input[val=""] {
  display: none;
}

a {
  font-size: 18px;
  font-weight: bold;
  padding: .5rem .5rem .5rem 0;
}
