@mixin die-background($position: 0 0) {
  background: {
    image: image-url('dice.png');
    position: $position;
    repeat: no-repeat;
  }

  height: 62px;
  width: 62px;
}

.new_game,
.edit_game,
.yahtzee-dice-container {
  display: inline-block;
  width: 49%;
}

.yahtzee-dice-container {
  padding-top: 10px;
  vertical-align: top;
}

.die {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.die-one {
  @include die-background(-1px -1px);
}
.die-two {
  @include die-background(-65px -1px);
}
.die-three {
  @include die-background(-129px -1px);
}
.die-four {
  @include die-background(-193px -1px);
}
.die-five {
  @include die-background(-257px -1px);
}
.die-six {
  @include die-background(-321px -1px);
}
.held-die-one {
  @include die-background(-1px -65px);
}
.held-die-two {
  @include die-background(-65px -65px);
}
.held-die-three {
  @include die-background(-129px -65px);
}
.held-die-four {
  @include die-background(-193px -65px);
}
.held-die-five {
  @include die-background(-257px -65px);
}
.held-die-six {
  @include die-background(-321px -65px);
}

.play-button {
  display: none;
}
